<!-- Sidebar -->
<aside
    class="z-20 hidden w-64 overflow-y-auto bg-white dark:bg-gray-800 md:block flex-shrink-0 border-r border-gray-200 dark:border-gray-700">
    <div class="py-4 text-gray-500 dark:text-gray-400">
        <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="/">
            Anlagenreferat
        </a>
        <ul class="mt-6">
            <li class="relative px-6 py-3">
                {% if request.path == '/' %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                            </path>
                        </svg>
                        <span class="ml-4">Dashboard</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/leihvertrag' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/leihvertrag">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/leihvertrag">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                            </path>
                        </svg>
                        <span class="ml-4">Leihvertrag</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/inventory' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/inventory">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/inventory">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path>
                        </svg>
                        <span class="ml-4">Lagerbestand</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/emails' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/emails">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/emails">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                            </path>
                        </svg>
                        <span class="ml-4">Leihanfragen</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/invoices' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/invoices">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/invoices">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z">
                            </path>
                        </svg>
                        <span class="ml-4">Rechnungen</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/users' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/users">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/users">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197m13.5-9a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z">
                            </path>
                        </svg>
                        <span class="ml-4">Benutzer</span>
                    </a>
            </li>
            <li class="relative px-6 py-3">
                {% if '/settings' in request.path %}
                <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                    aria-hidden="true"></span>
                <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                    href="/settings">
                    {% else %}
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/settings">
                        {% endif %}
                        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                            </path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span class="ml-4">Einstellungen</span>
                    </a>
            </li>
        </ul>
    </div>
</aside>

<!-- Mobile Sidebar -->
<div id="mobileSidebar" class="fixed inset-0 z-30 hidden">
    <div id="mobileOverlay" class="absolute inset-0 bg-black opacity-50 transition-opacity"></div>
    <aside
        class="absolute inset-y-0 left-0 z-40 w-64 overflow-y-auto bg-white dark:bg-gray-800 transform transition-transform duration-300 ease-in-out">
        <div class="py-4 text-gray-500 dark:text-gray-400">
            <a class="ml-6 text-lg font-bold text-gray-800 dark:text-gray-200" href="/">
                Anlagenreferat
            </a>
            <ul class="mt-6">
                <li class="relative px-6 py-3">
                    {% if request.path == '/' %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                                </path>
                            </svg>
                            <span class="ml-4">Dashboard</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/leihvertrag' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/leihvertrag">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/leihvertrag">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z">
                                </path>
                            </svg>
                            <span class="ml-4">Leihvertrag</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/inventory' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/inventory">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/inventory">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M20 7l-8-4-8 4m16 0l-8 4m8-4v10l-8 4m0-10L4 7m8 4v10M4 7v10l8 4"></path>
                            </svg>
                            <span class="ml-4">Lagerbestand</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/emails' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/emails">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/emails">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z">
                                </path>
                            </svg>
                            <span class="ml-4">Leihanfragen</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/invoices' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/invoices">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/invoices">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M17 9V7a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2m2 4h10a2 2 0 002-2v-6a2 2 0 00-2-2H9a2 2 0 00-2 2v6a2 2 0 002 2zm7-5a2 2 0 11-4 0 2 2 0 014 0z">
                                </path>
                            </svg>
                            <span class="ml-4">Rechnungen</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/users' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/users">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/users">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197m13.5-9a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0z">
                                </path>
                            </svg>
                            <span class="ml-4">Benutzer</span>
                        </a>
                </li>
                <li class="relative px-6 py-3">
                    {% if '/settings' in request.path %}
                    <span class="absolute inset-y-0 left-0 w-1 bg-purple-600 rounded-tr-lg rounded-br-lg"
                        aria-hidden="true"></span>
                    <a class="inline-flex items-center w-full text-sm font-semibold text-gray-800 dark:text-gray-100 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                        href="/settings">
                        {% else %}
                        <a class="inline-flex items-center w-full text-sm font-semibold text-gray-600 dark:text-gray-400 transition-colors duration-150 hover:text-gray-800 dark:hover:text-gray-200"
                            href="/settings">
                            {% endif %}
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z">
                                </path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                            </svg>
                            <span class="ml-4">Einstellungen</span>
                        </a>
                </li>
            </ul>
        </div>
    </aside>
</div>